<!DOCTYPE html>
<html>
  <head>
    <title>Home</title>
      <script src="http://cdnjs.cloudflare.com/ajax/libs/moment.js/2.5.1/moment.min.js"></script>
    <link href="/bootstrap-3.1.1-dist/css/bootstrap.css" rel="Stylesheet">
    <link href="/stylesheets/home-style.css" rel="stylesheet">
    <script src="/scripts/jquery.md5.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  </head>
  <body>
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container-fluid">
	<div class="navbar-header">
	</div>
	<div class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
            <li>
                <a href="#" class="btn btn-inverse btn-small" id="logout_btn">Logout</a>
            </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
           <li><a href="#" class="btn btn-inverse btn-small" id="home_btn">Home</a></li>
         </ul>
	</div>
      </div>
    </div>
    <div class="container-fluid">
      <div class="row">
	<!-- The sidebar -->
	<div class="col-sm-3 col-md-2 sidebar">
	  <ul id="friend_list" class="nav nav-sidebar">
	    <li class="active" style ="margin-top:-20px;">
	      <a>Friend List</a>
	    </li>
	  </ul>
	  <script>
	  friendName='';

	  $(function() {
                  $("#add_friend_btn").click(function() {
                      var emailId = $('#add_friend_textbox').val().trim();
                      var dataString = 'emailId=' + emailId;
                      $.ajax({
                        type: "POST",
                        url: "/user/<%= userId %>/friends/add",
                        data: dataString,
                        success: function(data) {
                            var response = $.parseJSON(data).response;
                            if (response.code == 200) {
                                location.reload();
                            }
                        }
                      });
                  });
              });
	  </script>

	  <div class="input-group">

	  <form accept-charset="UTF-8" role="form" id="signup_form">
          <fieldset>
              <div class="form-group">
                  <input type="text" style="width:130px;float:left; font-size:13px"class="form-control" placeholder="Add a friend..." id="add_friend_textbox">
                  <input class="btn btn-default" type="submit" id="add_friend_btn" value="+"></button>
              </div>


          </fieldset>
      </form>
	  </div>
	</div>
    <script>
        $(function(){
            $("#logout_btn").click(function(){
                $.post('/logout', {}, function(){});
		$(location).attr('href',"/");
            });
        });
        $(function(){
            $("#home_btn").click(function(){
                $(location).attr('href',"/home/user/<%= userId %>");
            });
        });
        $(function() {
            $("#addItem").click(function() {
                var itemName = $("input#ItemName_Modal").val();
                var itemDescription = $('input#ItemDescription_Modal').val();
                var preferredBrand = $("input#PreferredBrand_Modal").val();
                var approximatePrice = $("input#ApproximatePrice_Modal").val();
                var dataString = 'itemName=' +  itemName +  '&description=' + itemDescription + '&preferredBrand=' +
                        preferredBrand + '&approximatePrice=' + approximatePrice;
                $.ajax({
                    type: "POST",
                    url: "/user/<%= userId %>/items/add",
                    data: dataString,
                    success: function(data) {
                        var response = $.parseJSON(data).response;
                        if (response.code == 200) {
                            // show response
                            location.reload();
                        }
                    }
                });
                return false;
            });
        });
    </script>

	<!-- The main content area -->
	<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
	  <div class="page-header">
            <h3 style="display:inline-block;margin: -20px 0 20px;"> Welcome <%=name%> </h3>
	  </div>
        <div id= "alertW" class="alert alert-warning" style="visibility:hidden;">
              <div id="text5"></div>
        </div>

        <div>
          <table class="table table-striped table-bordered table-condensed" id="wishlistTable" style="text-align: center;">
          </table>
         </div>
    </div>




          <script>

              function fillTable(wishes, viewFriend) {
                  // Find a <table> element with id="myTable":
                  var table = document.getElementById("wishlistTable");
                  var tableRows = table.getElementsByTagName('tr');
                  var rowCount = tableRows.length;

                  for (var x=rowCount-1; x>-1; x--) {
                      table.deleteRow (x);
                  }


                  for (var count = 0; count < wishes.length; count++) {
                      // Create an empty <tr> element and add it to the 1st position of the table:
                      var row = table.insertRow(0);

                      // Insert new cells (<td> elements) at the 1st and 2nd position of the "new" <tr> element:
                      var cell1 = row.insertCell(0);
                      var cell2 = row.insertCell(1);
                      var cell3 = row.insertCell(2);
                      var cell4 = row.insertCell(3);
                      var cell5 = row.insertCell(4);
                      var cell6 = row.insertCell(5);

                      // Add some text to the new cells:
                      cell1.innerHTML = wishes[count].ItemName;
                      cell2.innerHTML = wishes[count].Description;
                      cell3.innerHTML = wishes[count].PreferredBrand;
                      cell4.innerHTML = "$ "+wishes[count].ApproxPrice;
                      cell5.innerHTML = moment(wishes[count].CreationTime).format('MMMM Do YYYY, h:mm:ss a');
                      if (viewFriend == 0)
                        var button = '<input type="button" id="button_'+ wishes[count].ItemId+'" class="btn btn-danger ' +
                                'btn-mini btn-deleteItem" value="Delete"></input>';
                      else if (viewFriend == 1) {
                          var action = "reserveItem('"+ wishes[count].WishId +"')";
                          var button = '<input type="button" onclick='+action+' id="button_' + wishes[count].ItemId + '"' +
                                  'class="btn btn-info btn-mini btn-reserveItem" value="Reserve"></input>';
                      }
                      cell6.innerHTML = button;
                  }

                  if (wishes.length > 0){
                      var row = table.insertRow(0);
                      // Insert new cells (<td> elements) at the 1st and 2nd position of the "new" <tr> element:
                      var cell1 = row.insertCell(0);
                      var cell2 = row.insertCell(1);
                      var cell3 = row.insertCell(2);
                      var cell4 = row.insertCell(3);
                      var cell5 = row.insertCell(4);
                      var cell6 = row.insertCell(5);

                      // Add some text to the new cells:
                      cell1.innerHTML = "<b>Item Name</b>";
                      cell2.innerHTML = "<b>Item Description</b>";
                      cell3.innerHTML = "<b>Preferred Brand</b>";
                      cell4.innerHTML = "<b>Approx Price</b>";
                      cell5.innerHTML = "<b>Date Added </b>";
                      cell6.innerHTML = "Manage";

                  }
              }

              var wishes = <%- JSON.stringify((wishes)) %>
              fillTable(wishes, 0);

              $('.btn-deleteItem').click(function () {
                 var id = this.id.replace('button_', '');
                  $.post("/user/<%= userId %>/items/remove",{'items': [id]},
                          function(response) { // handles the response
                              location.reload();
                          });
              });

              function reserveItem(wishId){
                  $.post("/user/<%= userId%>/friendListAction/reserveItem", {'wishId': wishId}, function(response){
                        console.log (response);
                  });
              }

          </script>

          <button id="add_item_btn" class="btn btn-primary btn-large" style="margin-left:260px; margin-top: -20px; width:200px" data-target="#addItemModal" data-toggle="modal">
          <i class="icon-white icon-plus"></i> Add an item </button>


          <!-- Modal -->
          <div class="modal fade" id="addItemModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                  <div class="modal-content">
                      <div class="modal-header">
                          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                          <h4 class="modal-title" id="myModalLabel">Add an item </h4>
                      </div>
                      <div class="modal-body">
                          <form accept-charset="UTF-8" role="form" id="addItemForm">
                              <fieldset>
                                  <div class="form-group">
                                      <input class="form-control" placeholder="Item Name" name="ItemName" type="text" id="ItemName_Modal">
                                  </div>
                                  <div class="form-group">
                                      <input class="form-control" placeholder="Item Description" name="ItemDescription" type="text" id="ItemDescription_Modal">
                                  </div>
                                  <div class="form-group">
                                      <input class="form-control" placeholder="Approximate Price" name="ApproximatePrice" type="text" id="ApproximatePrice_Modal">
                                  </div>
                                  <div class="form-group">
                                      <input class="form-control" placeholder="Preferred Brand" name="PreferredBrand" type="text" id="PreferredBrand_Modal">
                                  </div>

                              </fieldset>
                          </form>
                      </div>
                      <div class="modal-footer">
                          <button type="submit" class="btn btn-primary" id="addItem">Add An Item</button>
                          <button type="button"  class="btn btn-default" data-dismiss="modal">Cancel</button>

                      </div>
                  </div>
              </div>
          </div>

    <!-- Scripts placed at end to help pages load faster -->
    <script src="/bootstrap-3.1.1-dist/js/bootstrap.min.js"></script>



    <script>
      // Define a list item
      function friendListItemOld(name,id) {
        var s = name;
        s = '<li class ="sidebar-brand" ><a href="#">' + s + '</a></li>'
        s = s + '<br>';
        s = s + '<button> invite </button>';
        s = s + '<button> edit </button>';
        var action = "removeFriend('"+name+"','"+id+"')";
        s = s + '<button onclick='+action+'> delete </button>';
        s = '<div>' + s + '</div>';
        var itemId = "friendListItem_"+id;
        s = '<li id=\''+itemId+'\'>' + s + '</li>';
        return s;
      };

      function friendListItem(name,id) {
          var encodeName = encodeURIComponent(name);
          var action = "getFriendsItems('"+ encodeName+"','"+id+"')";
          var s = '<li class ="sidebar-brand" style="cursor: pointer; cursor:hand;" ><a onclick='+action+'>' + name + '</a></li>'
          s = s + '<br>';
          s = '<div>' + s + '</div>';
          var itemId = "friendListItem_"+id;
          s = '<li id=\''+itemId+'\'>' + s + '</li>';
          return s;
      };

      var getFriendsItems = function(name, i) {
      name = decodeURIComponent(name);
      // Hiding the add item button
      var addItemBtn = document.getElementById("add_item_btn");
      addItemBtn.style.visibility = 'hidden';
      // Displaying Elements
      var elem1 = document.getElementById("suggestion_box");
       elem1.style.visibility = 'visible';
      var elem2 = document.getElementById("suggestion_header");
        elem2.style.visibility = 'visible';
      // Need to set the name of the friend also
      document.getElementById("text5").innerHTML = '<strong> ' + name + ' hasn\'t setup his wishlist. </strong>' +
       'You can add ideas or tell us something about him, for suggestions!';
      document.getElementById("alertW").style.visibility = 'visible';
      document.getElementById("alertW").style['margin-left'] = '100px';
      document.getElementById("alertW").style['width'] = '800px';

      document.getElementById("text1").innerHTML = '<h4> Your ideas for '+  name +'</h4>';
      document.getElementById("text2").innerHTML = '<p>Write down an idea you have before you forget! ' +
       '(We won\'t tell anyone unless you want us to ask ' + name + '.)</p>';
      document.getElementById("text3").innerHTML = '<h4> Our suggestions for '+  name +'</h4>';
      document.getElementById("text4").innerHTML = '<p> To improve our suggestions tell us more about '+  name +'</p>';

      $.get("/user/<%=userId%>/items/"+ i +"/getFriend",{},
                  function(response) {
                      var jsonR = $.parseJSON(response).response;
                      if (jsonR.code == 200){
                            fillTable (jsonR.miscellaneous.rows, 1);
                            if (jsonR.miscellaneous.rows.length == 0){
                                //document.getElementById("").
                            }
                        }
                  });
      };

      // Remove a friend
      function removeFriend(name,id) {
        var itemId = "friendListItem_"+id;
        $.post("/user/<%= userId %>/friends/remove",{'name':name,'id':id},
           function(response) { // handles the response
             $("#"+itemId).remove();
           });
      };


      // When page loads, get the user's list of friends and populate the list
      $(document).ready(function() {
        $.getJSON("/user/<%= userId %>/friends/get",function(data) {
          rows = data.response.miscellaneous.rows;
            console.log(rows);
	  for (var i=0; i<rows.length; i++) {
            var name = rows[i].Name;
	        var id = rows[i].UserId;
	        $("#friend_list").append(friendListItem(name,id));
	    }
        });
      });

      // Add a friend (when user presses 'enter' in textbox)
      $(document).ready(function() {
        $("#add_friend_textbox").on("keypress", function(e) {
	  if (e.keyCode == 13) /* enter key pressed */ {
	    var friend_name = $("#add_friend_textbox").val();
	    $("#add_friend_textbox").val("");
            $.post("/user/<%= userId %>/friends/add",{'friendName':friend_name},
		function(response) {
		  var newContactId = response.response.miscellaneous.rows.insertId;
		  $("#friend_list").append(friendListItem(friend_name,newContactId));
		}
	    ,"json");
	    return false; // prevent the keypress from triggering further
	  }
	});
      });
    </script>
    <div style="margin-top:-250px;">
	  <div id="suggestion_box" style="visibility:hidden;margin-left:230px;">
	  <div id = "text1"> </div>
	  <div id = "text2"> </div>
	    <div class="input-group col-sm-5"  style="margin-top:20px;">
	      <input type="text" class="form-control" placeholder="Add an idea...">
	      <span class="input-group-btn">
		<button class="btn btn-default" type="button">+</button>
	      </span>
	    </div>
	  </div>
      </div>
      <div id="suggestion_header" style="visibility:hidden; margin-left:220px;margin-top:20px;">
	    <div id = "text3"></div>
	    <div id ="text4"></div>
	  </div>
     </div>
]
	</div>
      </div>
    </div>


    <!-- Scripts placed at end to help pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="/bootstrap-3.1.1-dist/js/bootstrap.min.js"></script>
    <!-- This seems irrelevant. <script src="/bootstrap-3.1.1-dist/js/docs.min.js"></script> -->

  </body>
</html>
